###### DATABASE CONFIGURATION ######
DATABASE_URL=


###### JWT CONFIGURATION ######
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN= 15m ##this is an example you can put any value
JWT_REFRESH_EXPIRES_IN=7d  ##this is an example you can put any value

###### CLIENT URL ###############
CLIENT_URL=http://localhost:5173

####### SERVER UTL ###############
VITE_SERVER_URL=http://localhost:5000/api ##this is an example, put your own url


###### RESEND CONFIGURATION ######
RESEND_API_KEY=
FROM_EMAIL=


########### GEMINI API ###########
GEMINI_API_KEY=



############# CLOUDINARY CONFIG ###########
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


######### COMFYUI URL ################
COMFYUI_URL=http://host.docker.internal:8000 ##mine was running on 8000 port, look at your own port


######## GOOGLE OAUTH API ##############
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback


######### REDIS URL #################
REDIS_URL=